body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 15vh 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  width: 30vw;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-item {
  font-size: 30px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 30vw;
}

.vision {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}